In [1]:
library(reshape2)
library(lubridate)

Loading required package: timechange


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [2]:
data <- read.csv("crsp.csv")
data$Unadjusted_PRC <- data$PRC
data$Adjusted_PRC <- data$PRC / data$CFACPR

In [3]:
AAPL <- data[data$PERMNO==14593, c("date", "Adjusted_PRC")]
names(AAPL)[2] <- "AAPL"
MSFT <- data[data$PERMNO==10107, c("date", "Adjusted_PRC")]
names(MSFT)[2] <- "MSFT"
PRC <- dcast(data, date ~ PERMNO, value.var = "Adjusted_PRC")
names(PRC) <- c("date", "MSFT", "AAPL")
PRC$date <- ymd(PRC$date)
head(PRC)

  date       MSFT   AAPL
1 2010-01-04 30.950 7.643214
2 2010-01-05 30.960 7.656429
3 2010-01-06 30.770 7.534643
4 2010-01-07 30.452 7.520714
5 2010-01-08 30.660 7.570714
6 2010-01-11 30.270 7.503929

In [4]:
RET <- dcast(data, date ~ PERMNO, value.var = "RET")
names(RET) <- c("date", "MSFT", "AAPL")
head(RET)

  date     MSFT      AAPL
1 20100104  0.015420  0.015555
2 20100105  0.000323  0.001729
3 20100106 -0.006137 -0.015906
4 20100107 -0.010335 -0.001849
5 20100108  0.006830  0.006648
6 20100111 -0.012720 -0.008822

In [5]:
Y <- log(1 + RET[,2:3])
Y$date <- ymd(RET$date)
head(Y)

ERROR: Error in `[.data.frame`(RET, , 2:7): undefined columns selected

In [ ]:
# Saving the data frame of returns
save(Y, file = "Y.RData")

# Saving the data frame of prices
save(PRC, file = "PRC.RData")